.logo-img{
    width: 130px;
}

.bg-dark{
    background-color: #000 !important;
}

.main-banner-img{
    width: 100%;
}

.avatar{
    width: 45px;
}

.avatar-card{
    width: 250px;
    height: 50px;
}

.movies-list{
    max-width: 100vw;
    overflow-x: hidden;
}

@media only screen and (max-width: 450px){
    .logo-img{
        width: 105px;
    }
}

@media only screen and (min-width: 768px){
    .card-img-overlay{
        position: unset;
    }
}